<config>
    <window>
        <width>500</width>
        <height>500</height>
        <title>Panama Canal</title>
    </window>
    <cameras>
        <camera-0>
            <type>static</type>
            <position>
                <x>-0.556808</x>
                <y>0.5</y>
                <z>1.08049</z>
            </position>
            <rotation>-57.0</rotation>
            <elevation>-15.0</elevation>
        </camera-0>
        <camera-1>
            <type>static</type>
            <position>
                <x>-1.36783</x>
                <y>0.5</y>
                <z> 4.47239</z>
            </position>            
            <rotation>-72.0</rotation>
            <elevation>0.0</elevation>            
        </camera-1>
        <camera-2>
            <type>dynamic</type>
            <position>
                <x>-4.5</x>
                <y>0.5</y>
                <z>0.0</z>
            </position>            
            <rotation>0.0</rotation>
            <elevation>0.0</elevation>            
        </camera-2>
        <camera-3>
            <type>walk</type>
            <position>
                <x>-3.0</x>
                <y>0.5</y>
                <z>0.0</z>
            </position>            
            <rotation>0.0</rotation>
            <elevation>0.0</elevation>
            <motion>
                <step>0.2</step>
                <angle>
                    <rotation-step>3.0</rotation-step>
                    <elevation-step>0.5</elevation-step>
                </angle>
            </motion>
        </camera-3>
        <camera-4>
            <type>free</type>
            <position>
                <x>-3.0</x>
                <y>0.5</y>
                <z>0.0</z>
            </position>            
            <rotation>0.0</rotation>
            <elevation>0.0</elevation>
            <motion>
                <step>0.2</step>
                <angle>
                    <rotation-step>3.0</rotation-step>
                    <elevation-step>0.5</elevation-step>
                </angle>
            </motion>
        </camera-4>
    </cameras>
    <lights>
        <light-0>
            <enabled>true</enabled>
            <dynamic>false</dynamic>
            <ambient>
                <r>0.3</r>
                <g>0.3</g>
                <b>0.3</b>
                <a>1.0</a>
            </ambient>
            <diffuse>
                <r>0.8</r>
                <g>0.8</g>
                <b>0.8</b>
                <a>1.0</a>
            </diffuse>
            <specular>
                <r>0.0</r>
                <g>0.0</g>
                <b>0.0</b>
                <a>1.0</a>
            </specular>
            <position>
                <x>0.0</x>
                <y>5.0</y>
                <z>5.0</z>
                <w>0.0</w>
            </position>
            <spot-direction>
                <x>0.0</x>
                <y>0.0</y>
                <z>0.0</z>
            </spot-direction>
            <spot-exponent>0.0</spot-exponent>
            <spot-cutoff>180.0</spot-cutoff>
            <attenuation>
                <constant>0.0</constant>
                <linear>0.0</linear>
                <quadratic>0.0</quadratic>
            </attenuation>
        </light-0>
        <light-1>
            <enabled>false</enabled>
            <dynamic>true</dynamic>
            <ambient>
                <r>0.5</r>
                <g>0.5</g>
                <b>0.5</b>
                <a>1.0</a>
            </ambient>
            <diffuse>
                <r>1.0</r>
                <g>1.0</g>
                <b>1.0</b>
                <a>1.0</a>
            </diffuse>
            <specular>
                <r>0.6</r>
                <g>0.6</g>
                <b>0.6</b>
                <a>1.0</a>
            </specular>
            <position>
                <x>0.0</x>
                <y>0.5</y>
                <z>4.0</z>
                <w>1.0</w>
            </position>
            <spot-direction>
                <x>0.0</x>
                <y>0.0</y>
                <z>-1.0</z>
            </spot-direction>
            <spot-exponent>15.0</spot-exponent>
            <spot-cutoff>10.0</spot-cutoff>
            <attenuation>
                <constant>0.0</constant>
                <linear>0.0</linear>
                <quadratic>0.0</quadratic>
            </attenuation>
        </light-1>
    </lights>
</config>
