<config>
	<window>
		<width>500</width>
		<height>500</height>
		<title>Panama Canal</title>
	</window>
	<cameras>
		<camera-0>
			<position>
				<x>-3.0</x>
				<y>0.5</y>
				<z>0.0</z>
			</position>
			<direction>
				<x>0.0</x>
				<y>0.0</y>
				<z>0.0</z>
			</direction>
			<upvector>
				<x>0.0</x>
				<y>1.0</y>
				<z>0.0</z>
			</upvector>
			<motion>
				<x>0.0</x>
				<y>0.0</y>
				<z>-1.0</z>
				<step>0.0</step>
				<angle>
					<rotation>0.0</rotation>
					<elevation>0.0</elevation>
				</angle>			
			</motion>
		</camera-0>
		<camera-1>
			<position>
				<x>-3.0</x>
				<y>0.5</y>
				<z>1.0</z>
			</position>
			<direction>
				<x>0.0</x>
				<y>0.0</y>
				<z>0.0</z>
			</direction>
			<upvector>
				<x>0.0</x>
				<y>1.0</y>
				<z>0.0</z>
			</upvector>
			<motion>
				<x>0.0</x>
				<y>0.0</y>
				<z>-1.0</z>
				<step>0.0</step>
				<angle>
					<rotation>0.0</rotation>
					<elevation>0.0</elevation>
				</angle>			
			</motion>
		</camera-1>
		<camera-2>
			<position>
				<x>-3.0</x>
				<y>0.5</y>
				<z>0.0</z>
			</position>
			<direction>
				<x>0.0</x>
				<y>0.0</y>
				<z>0.0</z>
			</direction>
			<upvector>
				<x>0.0</x>
				<y>1.0</y>
				<z>0.0</z>
			</upvector>
			<motion>
				<x>0.0</x>
				<y>0.0</y>
				<z>-1.0</z>
				<step>0.2</step>
				<angle>
					<rotation>3.0</rotation>
					<elevation>0.5</elevation>
				</angle>			
			</motion>
		</camera-2>
	</cameras>
</config>
